.mainDivEditPurchase{
    margin-left: 40%;
    margin-top: 10%;

    
}

.cardDivEditPurchase{
    width: 70%;
    margin-left: 2%;
    box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, 0.75);
}
 .PurchaseIdDiv{
     margin-left: 8%;
    
 }

 .VendorIdDiv{
     margin-left: 10%;
     

 }

 .InvoiceNoDiv{
     margin-top: 15%;
     margin-left: -89%;

 }

 .TotalAmtDiv{
    margin-top: 15%;
    margin-left: 14%;

 }
