.featured {
    margin-top: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height:17vh;
  }
  
  .featuredItem {
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  }
  
  .featuredTitle{
      font-size: 20px;
      margin-left: -120px;
  }
  
  .featuredMoneyContainer{
      margin: 10px 0px;
      display: flex;
      align-items: center;
  }
  
 
  
  .featuredCartIcon{
      display: flex;
      align-items: center;
      margin-left: 20px;
      margin-top:-30px;

      
  }

  .featuredCartIconred{
    margin-left: 5px;
    color:red;
    font-size: 30px;
    font-weight: 600;

  }
  
  .featuredIcon{
      
      margin-left: 5px;
      color: green;
      font-size: 30px;
      font-weight: 600;
  }

  
  
  .featuredpurchase{
    margin-left: 5px;
    color: red;
    font-size: 30px;
    font-weight: 600;
  }


  .featuredSales{
    margin-left: 5px;
    color: blue;
    font-size: 30px;
    font-weight: 600;

  }

  .featuredSub{
      font-size: 15px;
      color: gray;
  }