.featured {
  margin-top: 50px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  height:17vh;

}

.featuredItem {
  flex: 1;
  /* margin: 0px 0px 0px 0px 50px; */
  margin: 0px -270px 40px 40px ;
  padding: -150px  ;
  border-radius: 10px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px -6px rgba(0, 0, 0, 0.75);
  background-color: white;
  margin-left: 300px;
  
}

.featuredTitle{
    font-size: 20px;
    margin-left: 18px;
}

.featuredMoneyContainer{
  margin-left: 15px;
  margin-top: 5px;
  font-size: 30px;
  font-weight: 600;
    display: flex;
    align-items: center;
}



.featuredCartIcon{
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-top:-30px;
}

.featuredMoneytIcon{
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-top:-30px;
}
.moneyimage{
  width:40px;
  height:40px;

}

.featuredMoneyIconblue{
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-top:-30px;

}



.moneyimageblue{
  width:40px;
  height:40px;

}



.featuredCartIconred{
  width:40px;
  height:40px;

}

.featuredIcon{
  margin-left: 5px;
  margin-top: 5px;
  color:limegreen;
  font-size: 30px;
  font-weight: 600;
}



.featuredpurchase{
  margin-left: 5px;
  margin-top: 5px;
  color: red;
  font-size: 30px;
  font-weight: 600;
  
}


.featuredSales{
  margin-left: 5px;
  color: blue;
  font-size: 30px;
  font-weight: 600;

}

.usersicon{
  display: flex;
  align-items: center;
  margin-left: 175px;
  margin-top:-50px;

}

.userimage{
  width:40px;
  height:40px;

}

.Totalcustomer{
  color: rgb(15,111,111);
  font-size: 28px;
  font-weight: 600;
  margin-left: 15px;

}

.featuredSub{
    font-size: 15px;
    color: gray;
}