.gg{
  flex: 4;
}

.dotdiv{
  margin-top: 35%;
 
  font-size: 18px;
}

.greendot{
  
  
  padding:0px 11px;
  margin-left:-150%;
  background-color:limegreen;
  
  
}
.todayscollection{
  margin-top: 25%;
  margin-left:10px;
}


.reddiv{
 
  margin-right: 305px;
  margin-top: -25px;
  font-size: 18px;

}

.reddot{
  padding:0px 11px;
  margin-left: -350%;
  background-color:red;
  
 
  
}


.bluediv{
  
  margin-top: -25px;
  font-size: 18px;

}

.bluedot{
  
  padding:0px 11px;
  margin-left: -100%;
  background-color:blue;
  
}



.lastdot{
  padding:0px 11px;
  margin-left: -50%;
  background-color:#067A7A
  
}




.lastdiv{
  
  margin-top: -25px;
  font-size: 18px;

}


.newcustomer{
  margin-top: 8%;
 

}

.purchase{
  margin-top: 100px;
  margin-left:10px;

}

.sales{
  margin-top: 100px;
  margin-left:10px;

}

.todayscollection{
  margin-top: 100px;
  margin-left:10px;
}

/* .whitesmoke{
 background-color: whitesmoke;
} */

  
