.mainDiv{
    display: flex;
  margin-left: 43%;
  
  

}



.newCustomer{
    margin-left:2%;
    margin-top: -4% !important;
}

.AddVechileButton{
    margin-left: 80%;
    
}
.cardDiv{
    margin-left: 55%;
    width: 35%;
    margin-top: -1%;
    box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, 0.75);
    
    
    

}



.FirstNameDiv{
    margin-left: 5%;
    width: 27%;
   

}

.MiddleNameDiv{
    margin-left:5%;
    width: 27%;
}
.LastNameDiv{
    margin-left:5%;
    width: 27%;
}


.CompanyNameDiv{
    margin-left: 5%;
    margin-top: 5%;
    width: 91%;

}

.VatNoDiv{
    margin-left: 5%;
    margin-top: 5%;
    width:40%;
    

}

.AddressDiv{
    margin-left: 55%;
    margin-top: -11%;
    width:41%;
    
    
   
}

.PhoneNumberDiv{
    margin-left: 5%;
    margin-top: 5%;
    width:40%;

}
.MobileNumberDiv{
    margin-left: 55%;
    margin-top: -11%;
    width:41%;

}
@media  screen and (max-width: 1090px) {
   
   .cardDiv{
    width: 20%;
   margin: 10px auto;
   }
   }