.gg{
    margin-left: 30%;
    margin-top: 10%;
}
.newVehicle{
    margin-top: 0%;
}
.RepairDiv{
    margin-top: 3%;
    margin-left: 5%;
    
    

}

.CompanyNameDiv{
    margin-top: 3%;
}
.DateDiv{
    margin-top: 3%;
    margin-left:5%;


}  